*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins";
}

button,
input {
    font-family: inherit;
}

body{
    margin: 0 9rem;
    display: flex;
}

.navbar{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.navbar--logo{
    width: 110px;
    margin-right: 10px;
}

.navbar--title{
    font-size: 2..5rem;
    font-weight: 600;
}

