.floatingNavbar--container {
    position: fixed;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.floatingNavbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    background-color: var(--navbar-bg-color);
    border-radius: 50000px;
    padding: 0.7rem 1rem;
}

.floatingNavbar--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--navbar-icon-bg-color);
    border-radius: 50%;
    padding: 0.8rem;
}

.floatingNavbar--icon>* {
    color: var(--white-color);
}

@media screen and (max-width:600px) {
    .floatingNavbar--icon {
        padding: 0.8rem;
    }
}