.experience--card--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
}

.experience--card {
    background-color: var(--bg-color-variant);
    padding: 2rem 4rem;

    border-radius: 2rem;
    border-style: solid;
    border-color: var(--prim-color);
    border-width: 1px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.experience--card--title {
    grid-column-start: 1;
    grid-column-end: -1;

    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 2px;

    color: var(--prim-color);

    display: flex;
    justify-content: center;
    align-items: center;
}


.experience--card--element {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.skill {
    font-size: 1rem;
    font-weight: 600;
}

.level {
    font-size: 0.7rem;
    color: var(--trans-white-color);
}

.experience--card--element>.icon {
    font-size: 1.5rem;
    color: var(--prim-color);
}


@media screen and (max-width: 1024px) {
    .experience--card{
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem 0;
    }

    .experience--card--element{
        width: 75%;
        margin: auto;
    }
}

@media screen and (max-width: 600px) {
    .experience--card--container {
        grid-template-columns: repeat(1, 1fr);
    }

    .experience--card{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 0;
    }
}