.hero--btns {
    display: flex;
    gap: 1rem;
}

.hero--content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero--img {
    width: 20rem;
    margin: 0 auto;
    padding: 1rem;
    background: linear-gradient(var(--prim-color), #fff0);
    border-radius: 50% 50% 0 0 / 40% 40% 0 0;
}

.hero--sroll--down {
    writing-mode: vertical-rl;
    letter-spacing: 2px;
    color: var(--prim-color-var);
}

.hero--icons {
    color: var(--prim-color-var);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.hero--icons>.line {
    height: 1.5rem;
    width: 0.15rem;
    background-color: var(--prim-color-var);
    border-radius: 0.75rem/0.075rem;
}

.hero--icons>* {
    font-size: 1.5rem;
    transition: var(--transition);
}

.hero--icons>*:hover {
    transform: scale(1.1);
    color: var(--prim-color);
}

/* Media Query Media Medium Divices */
@media screen and (max-width: 1024px) {
    .hero--section {
        height: 60vh;
        overflow: hidden;
        justify-content: flex-start;
    }
}

/* Media Query Small Devices */
@media screen and (max-width: 600px) {
    .hero--section {
        height: 100vh;
    }

    .hero--content {
        flex-direction: column;
    }

    .hero--icons {
        flex-direction: row;
        margin-bottom: 1.5rem;
    }

    .hero--sroll--down {
        writing-mode: horizontal-tb;
        margin-top: 1.5rem;
    }

    .line {
        display: none;
    }

}